<div class="jumbotron">
  <div class="row">
    <div class="span6">
      <h1>I am Sean Freiburg</h1>

      <p class="lead">Computer Science major at University of Illinois Urbana Champaign. I love creating new and cool
        applications. </p>
      <%= link_to "Contact Me", contact_path, :class => "btn btn-large btn-primary" %>
      <%= link_to 'My Github', 'https://github.com/seanfreiburg', :class => "btn btn-large btn-success" %>
      <%= link_to 'My Resume', 'http://shpe-uiuc.org/system/resumes/pdfs/000/000/035/original/SeanFreiburgResume_09-04-2013.pdf?1378316624', class: 'btn btn-large'%>
    </div>
    <div class="span6">
      <%= image_tag("sean.jpg", :size => "300x300", :class => "img-polaroid") %>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="span12">
    <h2> Recent Projects</h2>
    <%= link_to "Add Project", new_project_path, :class => 'btn btn-primary' if signed_in? %>
  </div>
</div>
<div class="row-fluid marketing">
  <div class="span6">
    <% for project in @projects1 %>
        <h4><%= link_to project.name, project %></h4>

        <p><%= truncate(project.description, :length => 75, :omission => '... (continued)') %>
          <%= link_to 'Delete', project, method: :delete, :class => 'btn btn-danger', data: {confirm: 'Are you sure?'} if signed_in? %>
        </p>

    <% end %>
  </div>

  <div class="span6">
    <% for project in @projects2 %>
        <h4><%= link_to project.name, project %></h4>

        <p><%= truncate(project.description, :length => 25, :omission => '... (continued)') %>
          <%= link_to 'Delete', project, method: :delete, :class => 'btn btn-danger', data: {confirm: 'Are you sure?'} if signed_in? %>
        </p>
    <% end %>
  </div>
  <div class="span12">
  <div class="center">
  <%= link_to 'All Projects', projects_path, class: 'btn btn-large' %>
  </div>
  </div>
</div> <!-- /container -->



