<h1>Listing projects</h1>




<% @projects.each do |project| %>
    <div class="well">
    <h4>
      <%= link_to project.name, project.link %>
    </h4>
    <p>
      <%= truncate(project.description, :length => 30, :omission => '... (continued)') %>

    </p>

      <%= link_to 'Edit', edit_project_path(project) if signed_in? %>
      <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } if signed_in? %>


    </div>
<% end %>


<br/>

<%= link_to 'New Project', new_project_path if signed_in? %>
